@import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css);

@import url(https://cdn.rawgit.com/tonsky/FiraCode/1.204/distr/fira_code.css);
body {
  /*font-family: Optima, Candara, Calibri, Arial, sans-serif;*/
  font-family: 'Noto Sans KR', sans-serif;
}
code {
  font-family: "Fira code", "Lucida Console", Monaco, monospace;
  font-size: 85%;
}
