@import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css);

body {
  /*font-family: Optima, Candara, Calibri, Arial, sans-serif;*/
  font-family: 'Noto Sans KR', sans-serif;
}
code {
  font-family: "Lucida Console", Monaco, monospace;
  font-size: 85%;
}
